alembic==1.7.6
antiorm==1.2.1
appdirs==1.4.4
attrs==20.3.0
beautifulsoup4==4.9.3
bs4==0.0.1
cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cssselect==1.1.0
dateparser==1.0.0
decorator==5.0.7
docopt==0.6.2
fake-useragent==0.1.11
Flask==1.1.2
Flask-Limiter==1.4
Flask-Login==0.5.0
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
future==0.18.2
greenlet==1.1.0
gunicorn==20.1.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
limits==1.5.1
lxml==4.6.2
Mako==1.1.6
MarkupSafe==1.1.1
multitasking==0.0.9
pandas==1.2.1
parse==1.19.0
pefile==2019.4.18
pip==21.3.1
pipreqs==0.4.11
postcodes-io-api==0.0.4
praw==7.1.4
prawcore==1.5.0
pyee==8.1.0
pyppeteer==0.2.5
pyquery==1.4.3
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2021.1
regex==2020.11.13
requests==2.25.1
requests-html==0.10.0
six==1.15.0
soupsieve==2.1
SQLAlchemy==1.4.14
SQLAlchemy-ImageAttach==1.1.0
stem==1.8.0
torrequest==0.1.0
tqdm==4.56.2
tzlocal==2.1
update-checker==0.18.0
urllib3==1.26.3
validators==0.18.2
w3lib==1.22.0
Wand==0.6.6
websocket-client==0.57.0
websockets==8.1
Werkzeug==1.0.1
WTForms==2.3.3
yarg==0.1.9
yfinance==0.1.55
